<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">AntiSugarPee</h2>
      <br>
      <br>
      <br>

      <h1> Team ASP 구성원 </h1>
      <br>
      <br>
      <br>

        <P>Web - FrontEnd && BackEnd <b>동연</b></p>
          <P>Machine Learning - 머싯는거 <b>상훈, 승재</b></p>
            <P>BlockChain - 토큰 보상 <b>정현</b></p>

    </div>
  </body>
</html>
