<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>ASP</h1>
        <P>환자의 건강과 보다 정교한 혈당데이터 예측을 위해서 노력할 것입니다.</p>
          <p>- Team ASP 올림-</p>
      </div>

    </div>
  </body>
</html>
